.idea/
.venv/
__pycache__/
*.__pycache__
*.pyc
.DS_Store
env/
.vscode/
*.log
Data_Root/
reconstructed_scan.nii
checkpoints_generator_only/

checkpoints/
spline_kernels_generator_only/
genereted_images_spline_generator_only/